<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-4">Modifica la domanda selezionata del questionario</h5>
        
        <%= form_with model: @question, url: survey_question_path(@survey, @question) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group row">
            <%= f.label :question, "Domanda", class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.text_field :question, class: "form-control", required: true,
                  data: { autocomplete_question: question_suggested } %>
            </div>
          </div>
          
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Tipologia di input</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <%= f.radio_button :question_type, 1, class: "form-check-input", checked: true %>
                  <%= f.label :text_field, "Campo di testo", class: "form-check-label" %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :question_type, 2, class: "form-check-input" %>
                  <%= f.label :radio_buttons, "Radio button (più opzioni disponibili con una scelta sola possibile)", class: "form-check-label" %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :question_type, 3, class: "form-check-input" %>
                  <%= f.label :check_boxes, "Check box (più opzioni disponibili con più scelte selezionabili)", class: "form-check-label" %>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <div class="col-sm-2">Domanda di profilazione</div>
            <div class="col-sm-10">
              <div class="form-check px-0">
                <%= f.check_box :profile_question, {}, "true", "false" %>
                <%= f.label :profile_question, "Si", class: "form-check-label" %>
              </div>
            </div>
          </div>

          <%= f.submit "Modifica", class:"btn btn-primary mt-3",
                        data: { confirm: "Confermi di voler modificare questa domanda? Tutte le domande con questo nome da te create verranno modificate." } %>
        <% end %>

      </div>
    </div>
  </div>
</div>