<h1 class="mb-0">Log in</h1>
<div class="mb-3">
  <small><%= link_to "← Torna ai sondaggi", root_url %></small>
</div>

<div class="row">
  <div class="col-10">
    <%= form_for(:session, url: login_path) do |f| %>
    
      <%= f.label :email, class: 'mt-4' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, class: 'mt-2' %>
      <%= f.password_field :password, class: 'form-control' %>

      <div class="mt-4">
        <%= f.submit "Log in", class: "btn btn-primary" %>
        <%= link_to "Registrati qui", new_creator_path, class: "align-middle text-decoration-none ml-2" %>
      </div>
    
    <% end %>
  </div>
</div>