<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-4">Modifica la domanda</h5>

        <%= form_with model: @question_choice, url: survey_question_question_choice_path(@survey, @question, @question_choice) do |f| %>
          <div class="form-group px-3">
            <%= f.text_field :choice, class: "form-control", required: true,
                data: { autocomplete_choice: question_choice_suggested } %>
          </div>
          <%= f.submit "Modifica", class:"btn btn-primary mt-3",
                data: { confirm: "Confermi di voler modificare questa risposta? Tutte le risposte con questo nome da te create verranno modificate." } %>
        <% end %>

      </div>
    </div>
  </div>
</div>