<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-0">Possibili risposte</h5>
        <small class="text-muted">
          Tipo risposta: 
          <% if @question.question_type == 2 %>
            radio button
          <% else %>
            check box
          <% end %>
        </small>

        <% unless @question_choices.any? %>
          <h6 class="mt-4">Non sono ancora presenti risposte per questa domanda.</h6>
        <% end %>

        <ol class="list-group list-group-flush mt-4">
          <% @question_choices.each.with_index(1) do |choice,index| %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <%= "#{index}. #{choice.choice}" %>
                <div>
                  <%= link_to edit_survey_question_question_choice_path(@survey, @question, choice), class: "text-decoration-none text-body" do %>
                    <svg class="bi" fill="currentColor", width="1em", height="1em">
                      <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#tools"/>
                    </svg>
                  <% end %>
                  <%= link_to survey_question_question_choice_path(@survey.id, @question.id, choice.id),
                              method: :delete,
                              class: "text-decoration-none text-danger", 
                              data: { confirm: "Confermi di voler eliminare questa risposta?" } do %>
                    <svg class="bi" fill="currentColor", width="1em", height="1em">
                      <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#trash"/>
                    </svg>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ol>

        <%= link_to "+ Aggiungi una risposta", new_survey_question_question_choice_path(@survey, @question), class: "btn btn-outline-primary btn-block mt-4" %>

      </div>
    </div>
  </div>
</div>