<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-4">Aggiungi una risposta</h5>

        <%= form_with model: @question_choice, url: survey_question_question_choices_path(@survey, @question), remote: true do |f| %>
          <div class="form-group px-3">
            <%= f.text_field :choice, class: "form-control", required: true, 
                data: { autocomplete_choice: question_choice_suggested } %>
          </div>
          <%= f.submit "Aggiungi", class:"btn btn-primary mt-3" %>
        <% end %>

      </div>
    </div>
  </div>
</div>