<div class="d-flex justify-content-between align-items-center">
  <%= link_to root_path, class:"text-reset text-decoration-none" do %>
    <h1>Sondaggi</h1>
  <% end %>
 
  <% if logged_in? %>
    <%= link_to creator_path(current_creator), class: "text-decoration-none text-body" do %>
      <svg class="bi" fill="currentColor", width="2em", height="2em">
        <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#person-circle"/>
      </svg>
    <% end %>
  <% end %>
</div>