<% question.question_choices.each do |choice| %>
  <div class="form-check col-8">
    <%= check_box_tag "answers[check_boxes][]group_#{index}[question_choice_id]", choice.id, false, class: "form-check-input" %>
    <%= label_tag choice.id, choice.choice, class:"form-check-label"%>
  </div>
<% end %>