<% question.question_choices.each do |choice| %>
  <div class="form-check col-8">
    <%= radio_button_tag "answers[radio_buttons][]group_#{index}[question_choice_id]", choice.id, false, class: "form-check-input", required: "required" %>
    <%= label_tag choice.id, choice.choice, class:"form-check-label" %>
  </div>
<% end %>