<div class="px-0 mt-3 col-8">
  <%= hidden_field_tag "answers[text_fields][]answer[question_choice_id]", question_choice_id_text_type(question) %>
  <%= text_field_tag "answers[text_fields][]answer[text]", '', class: 'form-control', maxlength: 140, required: true %>
</div>