<h1 class="mb-0"><%= @survey.title %></h1>
<div class="mb-3">
  <small><%= link_to "← Indietro", survey_path(@survey) %></small>
</div>
<h4 class="text-muted mb-3"><%= @survey.description %></h4>

<div class="mt-5">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <%= form_with url: survey_answers_path(@survey) do %>

          <ol class="list-group list-group-flush">
            <% @questions.each_with_index do |question,i| %>

              <li class="list-group-item">
                <div>
                  <span class="mt-2 align-middle"> <%= question.question %> </span>
                  <% if question.profile_question %>
                    <svg class="bi text-success mx-2" fill="currentColor", width="1em", height="1em">
                      <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#person-bounding-box"/>
                    </svg>
                  <% end %>
                </div>
                <%= render_section(question, i) %>
              </li>

            <% end %>
          </ol>
          
          <%= submit_tag 'Invia', class: "btn btn-primary mt-4" %>
        <% end %>

      </div>
    </div>
  </div>
</div>