<h1 class="mb-0"><%= @creator.email %></h1>
<div class="mb-3">
  <small><%= link_to "← Torna al profilo", creator_path(@creator) %></small>
</div>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-4">Impostazioni</h5>

        <%= form_with model: @creator, url: creator_path(@creator) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label :name, "Nome" %>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :surname, "Cognome" %>
            <%= f.text_field :surname, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, class: "form-control", required: true %>
          </div>

          <hr class="my-4"/>
          
          <div class="form-group">
            <%= f.label :password, "Nuova password" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Conferma nuova password" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

          <%= f.submit "Aggiorna", class: "btn btn-primary mt-3" %>
        <% end %>

      </div>
    </div>
  </div>
</div>