<h1 class="mb-0">Registrazione</h1>
<div class="mb-3">
  <small><%= link_to "← Torna ai sondaggi", root_url %></small>
</div>

<div class="row">
  <div class="col-10">
    <%= form_with model: @creator do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nome", class: 'mt-4' %>
      <%= f.text_field :name, class: 'form-control', required: true %>

      <%= f.label :surname, "Cognome", class: 'mt-4' %>
      <%= f.text_field :surname, class: 'form-control', required: true %>

      <%= f.label :email, "Email", class: 'mt-4' %>
      <%= f.email_field :email, class: 'form-control', required: true %>

      <hr class="my-4"/>

      <%= f.label :password, "Password", class: 'mt-2' %>
      <%= f.password_field :password, class: 'form-control', required: true %>

      <%= f.label :password_confirmation, "Conferma password", class: 'mt-2' %>
      <%= f.password_field :password_confirmation, class: 'form-control', required: true %>

      <%= f.submit "Registrati", class: "btn btn-primary mt-4", required: true %>
    
    <% end %>
  </div>
</div>