<h1 class="mb-0"><%= @creator.email %></h1>
<div class="mb-3">
  <small><%= link_to "Logout", logout_path, method: :delete %></small>
</div>

<p>
  Benvenuto nella sezione dedicata ai creatori. Grazie ai privilegi di creatore
  hai la possibilità di creare e modificare i sondaggi, visualizzare le
  statistiche di questi ed eventualmente di modificare le tue informazioni personali.
  <br>
  Per accedere ad una di queste funzionalità, seleziona una delle voci qui sotto:
</p>

<ul class="list-group">
  <%= link_to "Sondaggi", root_path, class:"list-group-item border-0 px-0 text-reset" %>
  <%= link_to "Impostazioni", edit_creator_path(@creator), class:"list-group-item border-0 px-0 text-reset" %>
</ul>