<div class="d-flex justify-content-between align-items-center">
  <h6>
    <span class="text-muted"> categorie: </span>
  </h6>
  <% if logged_in? %>
    <small><%= link_to "gestisci categorie", survey_categories_path(survey), class: "text-decoration-none" %></small>
  <% end %>
</div>
<h6>
  <% if survey.categories.any? %>
    <% survey.categories.each do |tag| %>
        <span class="badge badge-secondary"> <%= tag.name %> </span>
    <% end %>
  <% end %>
</h6>