<div class="d-flex justify-content-between m-3">
  <div>
    <span class="h5 align-middle"> <%= question.question %> </span>
    <% if question.profile_question %>
      <svg class="bi text-success mx-2" fill="currentColor", width="1em", height="1em">
        <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#person-bounding-box"/>
      </svg>
    <% end %>
  </div>
  <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#question<%=question.id%>">
    Guarda elenco risposte
  </button>
</div>
<div class="dropdown-divider"></div>

<!-- modal bootstrap -->

<div class="modal fade" id="question<%=question.id%>" tabindex="-1" aria-labelledby="questionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="questionLabel"> <%= question.question %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol class="list-group list-group-flush">
          <% answers_text_field(@survey.id, question.question_choices.first.id).each do |answer| %>
            <li class="list-group-item">
              <span> <%= answer.answer %> </span>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>