<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Risposta</th>
      <th scope="col">Percentuale</th>
    </tr>
  </thead>
  <tbody>
    <% question.question_choices.each do |choice| %>
      <tr>
        <td> <%= choice.choice %> </td>
        <td> <%= percentage_choice(@survey.id, choice.id, @number_of_answers).round(2) %> % </td>
      </tr>
    <% end %>
  </tbody>
</table>