<li class="list-group-item"> 
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <%= "#{index}. #{question.question}" %>
      <% if question.profile_question %>
        <svg class="bi text-success mx-2" fill="currentColor", width="1em", height="1em">
          <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#person-bounding-box"/>
        </svg>
      <% end %>
    </div>
                      
    <% if logged_in? %>
      <div>
        <small>
          <%= link_to_if question.question_type != 1, 
                          "risposte disponibili",
                          survey_question_question_choices_path(@survey, question),
                          class: "text-decoration-none text-muted" %>
        </small>
        <%= link_to edit_survey_question_path(@survey, question), class: "text-decoration-none text-body" do %>
          <svg class="bi" fill="currentColor", width="1em", height="1em">
            <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#tools"/>
          </svg>
        <% end %>
        <%= link_to survey_question_path(@survey.id, question.id),
                    method: :delete,
                    class: "text-decoration-none text-danger", 
                    data: { confirm: "Sei sicuro di voler eliminare questa domanda?" } do %>
          <svg class="bi" fill="currentColor", width="1em", height="1em">
            <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#trash"/>
          </svg>
        <% end %>
      </div>
    <% end %>
  </div>
</li>