<%= link_to survey_path(survey.id), 
            class:"list-group-item list-group-item-action", 
            id:"survey-"+survey.id.to_s, 
            style:"background-color: #F6F7F8;" do %>

  <div class="d-flex w-100 justify-content-between">
    <h4 class="mb-1 text-dark"><%= survey.title %></h4>
    <small><%= time_ago_in_words(survey.created_at) %></small>
  </div>
  <p class="mb-1"><%= survey.description %></p>
  
<% end %>