<%= render 'shared/header_survey' %>

<div class="container px-0">
  <%= form_with url: root_path, method: "get", local: true, class: "form-inline my-3" do |f| %>
    <div class="form-group">
      <%= f.label :search, "Cerca per categoria: ", class: "mr-2" %>
      <%= f.text_field :search, class: "form-control", data: { autocomplete_category_home: surveys_suggested } %>
      <%= f.submit "Cerca", name: nil, class:"btn btn-primary ml-1" %>
    </div>
  <% end %>
</div>
<% unless params[:search].nil? || params[:search].blank? %>
  <h6>
    <span class="badge badge-secondary"> <%= params[:search].parameterize %> </span>
  </h6>
<% end %>

<% if logged_in? %>
  <div class="container">
    <%= link_to "+ Aggiungi sondaggio", new_survey_path, class: "btn btn-sm btn-outline-primary btn-block my-4" %>
  </div>
<% end %>

<div class="list-group">
  <%= render @surveys %>
</div>

<% unless logged_in? %>
  <div class="mt-3 float-left">
    <small>Sei un creatore? <%= link_to "Accedi | Registrati", login_path %></small>
  </div>
<% end %>

<div class="mt-3 mr-3 float-right">
  <% unless params[:search].present? %>
    <%= will_paginate @surveys, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% end %>
</div>