<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna ai sondaggi", root_path %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5>Crea un nuovo sondaggio</h5>

        <%= form_with model: @survey do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label :title, "Titolo" %>
            <%= f.text_field :title, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Descrizione" %>
            <%= f.text_area :description, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :public, "Sondaggio privato" %>
            <%= f.check_box :public, { class: "align-middle", checked: false }, "false", "true" %>
          </div>

          <%= f.submit "Crea sondaggio", class:"btn btn-primary mt-3" %>
        <% end %>

      </div>
    </div>
  </div>
</div>