<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna ai sondaggi", root_path %> </small>

<div class="d-flex justify-content-between">
  <h4 class="text-muted mb-3">
    <%= @survey.title %>
    <% if logged_in? %>
      <span class="align-middle text-monospace h5">#Cod:<%= @survey.id %></span>
    <% end %>
  </h4>
  <% if logged_in? %>
    <div class="mb-1 float-right">
      <small> <%= link_to "modifica", edit_survey_path(@survey), class: "text-decoration-none" %> </small>
      <small> <%= link_to "elimina", survey_path(@survey.id), method: :delete, class: "text-decoration-none text-danger", data: { confirm: "Sei sicuro di voler eliminare il sondaggio?" } %> </small>
    </div>
  <% end %>
</div>

<% if logged_in? %>
  <div class="h8"> 
    Sondaggio <u><%= public_or_private %></u>. Condividi con l'URL: <u><%= request.original_url %></u>
  </div>
<% end %>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        
        <% if @survey.questions.any? %>
          
          <div class="d-flex justify-content-between">
            <h5 class="mb-3">Anteprima questionario</h5>
            <% if logged_in? %>
              <div class="mb-1 float-right">
                <small> <%= link_to "statistiche", statistic_survey_path(@survey), class: "text-decoration-none" %> </small>
              </div>
            <% end %>
          </div>
          
          <%= render partial: "category", locals: { survey: @survey } %> 

          <ol class="list-group list-group-flush">
            <% @survey.questions.each.with_index(1) do |question, index| %>
              <%= render partial: "question", locals: { question: question, index: index } %>
            <% end %>
          </ol>
        <% else %>
          <h6>Non sono ancora stati inserite domande in questo sondaggio.</h6>
        <% end %>

      </div>
      
      <div class="container">
        <% if @survey.questions.any? && !logged_in? %> 
          <%= link_to "Compila", new_survey_answer_path(@survey), class: "btn btn-outline-primary btn-block mt-4" %>
        <% end %>
        <% if logged_in? %>
          <%= link_to "+ Aggiungi una domanda", new_survey_question_path(@survey), class: "btn btn-outline-primary btn-block mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>