<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="d-flex justify-content-between">
  <h4 class="text-muted mb-3">
    <%= @survey.title %>
    <span class="align-middle text-monospace h5">#Cod:<%= @survey.id %></span>
  </h4>
  <div class="mb-1 float-right">
    <small class="align-middle text-monospace">Risposte totali: <b><%= @number_of_answers %></b></small>
  </div>
</div>

<ol class="list-group list-group-flush">
  <% @questions.each do |question| %>
    <% if question.question_type != 1 %>
      <li class="list-group-item">
        <div class="d-flex align-items-baseline">
          <h5> <%= question.question %> </h5>
          <% if question.profile_question %>
            <svg class="bi text-success mx-2" fill="currentColor", width="1em", height="1em">
              <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#person-bounding-box"/>
            </svg>
          <% end %>
        </div>
        <%= render partial: 'details_table', locals: { question: question } %>
      </li>
    <% else %>
      <%= render partial: 'details_text_field', locals: { question: question } %>
    <% end %>
  <% end %>
</ol>