<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-4">Modifica la categoria</h5>

        <%= form_with model: @category, url: survey_category_path(@survey, @category) do |f| %>
          <div class="form-group px-3">
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
          <%= f.submit "Modifica", class:"btn btn-primary mt-3", 
                        data: { confirm: "Confermi di voler modificare questa categoria? Tutte le categorie con questo nome da te create verranno modificate." } %>
        <% end %>

      </div>
    </div>
  </div>
</div>