<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-0">Gestisci categorie</h5>

         <% unless @categories.any? %>
          <h6 class="mt-4">Non sono ancora presenti categorie associate al sondaggio.</h6>
        <% end %>

        <ol class="list-group list-group-flush mt-4">
          <% @categories.each.with_index(1) do |tag,index| %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <span class="badge badge-secondary"><%= tag.name %></span>
                <div>
                  <%= link_to edit_survey_category_path(@survey, tag), class: "text-decoration-none text-body" do %>
                    <svg class="bi" fill="currentColor", width="1em", height="1em">
                      <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#tools"/>
                    </svg>
                  <% end %>
                  <%= link_to survey_category_path(@survey.id, tag.id),
                              method: :delete,
                              class: "text-decoration-none text-danger", 
                              data: { confirm: "Confermi di voler eliminare questa categoria?" } do %>
                    <svg class="bi" fill="currentColor", width="1em", height="1em">
                      <use xlink:href="<%= asset_path "bootstrap-icons/bootstrap-icons.svg" %>#trash"/>
                    </svg>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ol>

        <%= link_to "+ Aggiungi una categoria", new_survey_category_path(@survey), class: "btn btn-outline-primary btn-block mt-4" %>
      
      </div>
    </div>
  </div>
</div>