<%= render 'shared/header_survey' %>
<small class="mb-3"> <%= link_to "← Torna indietro", survey_path(@survey) %> </small>

<div class="mt-3">
  <div class="card">
    <div class="card-body">
      <div class="card-text">

        <h5 class="mb-4">Aggiungi categorie</h5>

        <%= form_with model: @category, remote: true, url: survey_categories_path(@survey) do |f| %>
          <div class="form-group px-3">
            <%= f.text_field :name, class: "form-control", required: true, 
                data: { autocomplete_category: categories_suggested } %>
          </div>
          <%= f.submit "Aggiungi", class:"btn btn-primary mt-3" %>
        <% end %>

      </div>
    </div>
  </div>
</div>