<!DOCTYPE html>
<html>
  <head>
    <title>Sondaggi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1 my-5 px-0">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
